body{
    background-color: #39115e4d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    padding: 0;

}

.container{
    margin: auto;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px;
}

/* navbar */
/* Agrega estos estilos a tu archivo main.css */
.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-toggle {
    display: none;
    /* Oculta el botón de hamburguesa por defecto */
    cursor: pointer;
}

.bar {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links li {
    padding: 0;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos para pantallas pequeñas (menos de 768px) */
@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
        /* Muestra el botón de hamburguesa */
    }

    .navbar-links {
        display: none;
        /* Oculta la lista de enlaces */
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #333;
        width: 100%;
        padding: 10px 20px;
    }

    .navbar-links.active {
        display: flex;
        /* Muestra la lista de enlaces cuando se hace clic en el botón de hamburguesa */
    }
}